.leaderboard {
  max-width: 1000px;
  width: 100%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.leaderboard header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
  color: #fff;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.leaderboard header .leaderboard__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * .75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}
.leaderboard header .leaderboard__title span {
  display: block;
}
.leaderboard header .leaderboard__title--top {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6.5px;
}
.leaderboard header .leaderboard__title--bottom {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}
.leaderboard header .leaderboard__icon {
  fill: #fff;
  opacity: 1;
  width: 120px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}
.leaderboard__profiles {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
  padding-top: 20px;
}
body {
  margin: 0;
  background-color: #eaeaea;
  font-family: 'Source Sans Pro', sans-serif;
}
.leaderboard {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

.leaderboard__profiles table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.leaderboard__profiles table tr td{
    width: 50%;
}




/* ================================================================================================================== */
.error-message {
    color: red;
    text-align: center;
}
.input-field {
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.input-field label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
  pointer-events: none;
  transition: .4s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
