<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${album.name}"></title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <link rel="stylesheet" th:href="@{/styles/fineButton.css}"/>
    <link rel="stylesheet" th:href="@{/styles/deleteFineButton.css}"/>
</head>
<body>
    <div>
        <article class="leaderboard">
            <header>
                <img class="back_button" th:src="@{/images/back_white.png}" alt="Back" th:onclick="location.href='/group/[[${groupId}]]'">
                <img th:src="@{/images/music_album_white.png}" alt="Music" class="leaderboard__icon"><h1 class="leaderboard__title"><span class="leaderboard__title--top" th:text="${album.name}"></span><span class="leaderboard__title--bottom" th:text="${album.releaseYear}"></span></h1>
            </header>

            <main class="leaderboard__profiles">
                <div class="empty_list" th:if="${#lists.isEmpty(album.trackEntityList)}">
                    Список пуст
                </div>
                <article class="leaderboard__profile" th:each="track: ${album.trackEntityList}">
                    <img th:src="@{/images/music_track.png}" th:alt="${track.name}" class="leaderboard__picture">
                    <span class="leaderboard__name" th:text="${track.name}"></span>
                    <span class="leaderboard__value"><b class="leaderboard__value" th:text="${track.duration/60} + ':' + ${track.duration%60}"></b></span>
                    <div class="delete_container">
                        <form th:action="@{/group/{groupId}/album/{albumId}/track/{trackId}/delete(groupId=${groupId}, albumId=${albumId}, trackId=${track.id})}" method="get">
                            <button class="delete_button">
                                <div class="delete_button__line"></div>
                                <div class="delete_button__line"></div>
                                <span class="delete_button__text">Удалить</span>
                            </button>
                        </form>
                    </div>
                </article>
                <div class="container">
                    <button class="button" th:onclick="location.href='/group/[[${groupId}]]/album/[[${album.id}]]/track/add';">
                        <div class="button__line"></div>
                        <div class="button__line"></div>
                        <span class="button__text">Добавить</span>
                    </button>
                </div>
            </main>
        </article>
    </div>
</body>
</html>